$dark: #3a3e40;
$green: #5fc55f;
$orange: #fda91d;
$blue: #d5dfe5;
$light-blue: #EDF0F2;

$transition: all 0.3s ease;


$base-font: "Open Sans", Arial, sans-serif;

// desktop-first
$desktop-width: "min-width: 1200px";
$tablet-width: "min-width: 768px" and "max-width: 1000px";
$mobile-width: "max-width: 767px";
